{% extends '::base.html.twig' %}

{% block body -%}
<img class="logoSmall" src="{{asset('/bundles/metinetgalery/image/logo-pt.png')}}">
    <h1>Question</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
               <td><img src="/uploads/images/mini/question/mini_{{ entity.picture }}" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <ul class="record_actions">
                        <li>
                            <form action="{{ path('admin_question_delete', { 'id': entity.id }) }}" method="post">
                                <a href="#" class="button-bevel orange">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    {{ form_widget(delete_form) }}
                                    <button type="submit">Supprimer</button>
                                </a>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
    <div id="btnNewTheme">
        <ul class="ca-menu">
            <li>
                <a href="{{ path('admin_question') }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Retourner à la liste</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_question_edit', { 'id': entity.id }) }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Editer</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    
{% if listeReponse %}
<div id="listQuestion">
<h2>Liste des Réponses</h2>
<ul>
{% for reponse in listeReponse %}
    <li>
        {{ reponse.title }} 
            {% if reponse.isCorrect == 1 %}
                - Réponse juste -
            {% endif %}
        <a href="{{ path('admin_answer_edit', { 'id': reponse.id }) }}">
            <img src="{{asset('/bundles/metinetgalery/image/app.png')}}" title="Modifier">
        </a>
    </li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}