{% extends '::base.html.twig' %}

{% block body -%}
    <img class="logoSmall" src="{{asset('/bundles/metinetgalery/image/logo-pt.png')}}">
    <h1>Liste des réponses</h1>
        <div id="btnNewTheme">
        <ul class="ca-menu">
            <li>
                <a href="{{ path('admin_answer_new') }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Créer une réponse</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('admin') }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Tableau De Bord</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_answer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_answer_show', { 'id': entity.id }) }}"><img src="{{asset('/bundles/metinetgalery/image/search.png')}}" title="En savoir plus..."></a>
                    </li>
                    <li>
                        <a href="{{ path('admin_answer_edit', { 'id': entity.id }) }}"><img src="{{asset('/bundles/metinetgalery/image/app.png')}}" title="Modifier"></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
