{% extends '::base.html.twig' %}

{% block body -%}
<img class="logoSmall" src="{{asset('/bundles/metinetgalery/image/logo-pt.png')}}">
    <h1>Answer</h1>
        <div id="btnNewTheme">
        <ul class="ca-menu">
            <li>
                <a href="{{ path('admin_answer') }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Retourner à la liste</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_answer_edit', { 'id': entity.id }) }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Editer</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Bonne réponse ?</th>
                <td>{{ entity.isCorrect }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <ul class="record_actions">
                        <li>
                            <form action="{{ path('admin_answer_delete', { 'id': entity.id }) }}" method="post">
                                <a href="#" class="button-bevel orange">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    {{ form_widget(delete_form) }}
                                    <button type="submit">Supprimer</button>
                                </a>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}