<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <title>{% block title %}Quizz en folie - LP Metinet 2013{% endblock %}</title>
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/metinetgalery/css/style.css')}}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/metinetgalery/css/animated-menu.css')}}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/metinetgalery/css/pictogram-button.css')}}" />
            {% endblock %}
            
            <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
            <meta property="fb:app_id" content="595726013784390" /> 
            <meta property="og:type"   content="article" /> 
            <meta property="og:url"    content="Put your own URL to the object here" /> 
            <meta property="og:title"  content="Sample Article" /> 
            <meta property="og:image"  content="https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" /> 

            <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

        </head>
        <body>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=595726013784390";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
                
            {% block body %}{% endblock %}
            {% block javascripts %}
            <script type="text/javascript">
              window.fbAsyncInit = function() {
                // init the FB JS SDK
                FB.init({
                  appId      : '{{ app_id }}',
                  channelUrl : '//{{ urlinterne }}/channel.php',
                  status     : true,
                  xfbml      : true
                });
     
                FB.Canvas.setAutoGrow();
              };


              function publier(name,link,picture,caption,description){
                FB.ui(
                {
                  method: 'feed',
                  name: name,
                  link: link,
                  picture: picture,
                  caption: caption,
                  description: description
                }
                );
              }

              function rejoindre(message){
                FB.ui(
                {
                  method: 'apprequests',
                  message: message,
                }, requestCallback);
              }

              function requestCallback(){}

            </script>
            {% endblock %}
            <center><div class="fb-facepile" data-href="http://apps.facebook.com/quizz_en_folie/" data-size="small" data-max-rows="1" data-width="300"></div></center>
        </body>
    </html>


