{% extends '::base.html.twig' %}

{% block body %}
	<h1>Tableau De Bord</h1>

	Nombre total de joueur: {{ nombretotal }}<br/>
	Nombre de joueurs inscrits ces septs derniers jours: {{ nombretotalsept }}<br/>
	Nombre de joueurs inscrits ces 30 dernuers jours: {{ nombretotaltrente }}<br/>
	Nombre de quizz : {{ nbquizz }}<br/>
	Score moyen des joueurs : {{ scoremoyen }}<br/>
	Nombre de quizz lancés par les joueurs : {{ totquizzlancer }}<br/>
	<h3>Le TOP 3 des quizz les plus populaires : </h3> <br/>
		<ul>
			{% for entity in tabquizzpop %}
				<li><a href = "{{ path('quizz_show', { 'id': entity.id }) }}"><img src = "/uploads/images/mini/quizz/mini_{{ entity.picture }}">{{ entity.id }} - {{ entity.title }}</a></li>
			{% endfor %}
		</ul>
	<h3>Le TOP 3 des quizz les moins utilisés :</h3> <br/>
		<ul>
			{% for entity in tabquizzflop %}
				<li><a href = "{{ path('quizz_show', { 'id': entity.id }) }}"><img src = "/uploads/images/mini/quizz/mini_{{ entity.picture }}">{{ entity.id }} - {{ entity.title }}</a></li>
			{% endfor %}
		</ul>
	<h3>Les 10 Derniers Joueurs inscrits</h3>
		<ul>
			{% for entity in tablasttenpers %}
				<li><img src = "{{ entity.picture }}">{{ entity.id }} - {{ entity.firstname }}  {{ entity.lastname }}</a></li>
			{% endfor %}
		</ul>

<a href="{{ path('quizz') }}">Gestion des Quizz</a>
<br />
<a href="{{ path('theme') }}">Gestion des Thémes</a>
<br/>
<a href="{{ path('admin_question') }}">Gestion des Questions</a>
<br/>
<a href="{{ path('admin_answer') }}">Gestion des Réponses</a>

{% endblock %}

