{% extends '::base.html.twig' %}

{% block body %}
	<h1>Tableau De Bord</h1>

	Nombre total de joueur: {{ nombretotal }}<br/>
	Nombre de joueurs inscrits ces septs derniers jours: {{ nombretotalsept }}<br/>
	Nombre de joueurs inscrits ces 30 dernuers jours: {{ nombretotaltrente }}<br/>
	Nombre de quizz : {{ nbquizz }}<br/>
	Score moyen des joueurs : {{ scoremoyen }}<br/>
	Nombre de quizz lanc√©s par les joueurs : {{ totquizzlancer }}<br/>
	Le TOP 3 des quizz les plus populaires : <br/>
	Le TOP 3 des quizz les moins utilis√©s : <br/>


<a href="{{ path('quizz') }}">Gestion des Quizz</a>
<br />
<a href="{{ path('theme') }}">Gestion des ThËmes</a>

{% endblock %}

