{% extends '::base.html.twig' %}
{% block body %}
	<img class="logoSmall" src="{{asset('/bundles/metinetgalery/image/logo-pt.png')}}">
	<h1>Tableau De Bord</h1>
	<div id="menu-gestion">
		<ul class="ca-menu">
		    <li>
		        <a href="{{ path('quizz') }}">
		            <div class="ca-content">
		                <h3 class="ca-sub">Gestion des quizz</h3>
		            </div>
		        </a>
		    </li>
		    <li>
		        <a href="{{ path('theme') }}">
		            <div class="ca-content">
		                <h3 class="ca-sub">Gestion des thèmes</h3>
		            </div>
		        </a>
		    </li>
		    <li>
		        <a href="{{ path('admin_question') }}">
		            <div class="ca-content">
		                <h3 class="ca-sub">Gestion des questions</h3>
		            </div>
		        </a>
		    </li>
		    <li>
		        <a href="{{ path('admin_answer') }}">
		            <div class="ca-content">
		                <h3 class="ca-sub">Gestion des réponses</h3>
		            </div>
		        </a>
		    </li>
		</ul>
	</div>	
	<div class="infoAppli">
		<img class="infoImage" src="{{asset('/bundles/metinetgalery/image/User.png')}}">
		Nombre total de joueur : <span class="spanresult">{{ nombretotal }}</span><br/>
		Nouveaux joueurs ces 7 derniers jours :  <span class="spanresult">{{ nombretotalsept }}</span><br/>
		Nouveaux joueurs ces 30 derniers jours :  <span class="spanresult">{{ nombretotaltrente }}</span><br/>
	</div>
	<div class="infoAppli">
		<img class="infoImage" src="{{asset('/bundles/metinetgalery/image/Stats.png')}}">
		Nombre de quizz :  <span class="spanresult">{{ nbquizz }}</span><br/>
		Score moyen des joueurs : <span class="spanresult"> {{ scoremoyen }} </span><br/>
		Nombre de quizz en cours : <span class="spanresult"> {{ totquizzlancer }} </span><br/>
	</div>
	<div id="topQuizz">
	<img class="rankQuizz" src="{{asset('/bundles/metinetgalery/image/Upload.png')}}">
	<h3>Le TOP 3 des quizz : </h3>
		<div class="listQuizz">
			<ul>
				{% for entity in tabquizzpop %}
					<li><a href = "{{ path('quizz_show', { 'id': entity.id }) }}">{{ entity.id }} - {{ entity.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div id="flopQuizz">
	<img class="rankQuizz" src="{{asset('/bundles/metinetgalery/image/Download.png')}}">
	<h3>Le FLOP 3 des quizz :</h3>
		<div class="listQuizz">
			<ul>
				{% for entity in tabquizzflop %}
					<li><a href = "{{ path('quizz_show', { 'id': entity.id }) }}">{{ entity.id }} - {{ entity.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div id="lastUser">
		<img class="lastUser" src="{{asset('/bundles/metinetgalery/image/Temporary.png')}}">
		<h3>Les 10 Derniers Joueurs inscrits</h3>
		<ul>
			{% for entity in tablasttenpers %}
				<li><a><img src = "{{ entity.picture }}" title="{{ entity.firstname }} {{ entity.lastname }}"></a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}