{% extends '::base.html.twig' %}

{% block body -%}
    <img class="logoSmall" src="{{asset('/bundles/metinetgalery/image/logo-pt.png')}}">
    <h1>Theme</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="/uploads/images/mini/theme/mini_{{ entity.picture }}" /></td>
            </tr>
            <tr>
                <th>Shortdesc</th>
                <td>{{ entity.shortDesc }}</td>
            </tr>
            <tr>
                <th>Longdesc</th>
                <td>{{ entity.longDesc }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <ul class="record_actions">
                        <li>
                            <form action="{{ path('theme_delete', { 'id': entity.id }) }}" method="post">
                                <a href="#" class="button-bevel orange">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    {{ form_widget(delete_form) }}
                                    <button type="submit">Supprimer</button>
                                </a>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
    <div id="btnNewTheme">
        <ul class="ca-menu">
            <li>
                <a href="{{ path('theme') }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Retourner à la liste</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('theme_edit', { 'id': entity.id }) }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Editer</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    
{% if listeQuizz %}
<div id="listQuestion">
<h2>Liste des Quizz</h2>
<table>
    {% for quizz in listeQuizz %}
        <tr>
            <td>
                {{ quizz.title }}
            </td>
            <td>
                <a href="{{ path('quizz_edit', { 'id': quizz.id }) }}">
                    <img src="{{asset('/bundles/metinetgalery/image/app.png')}}" title="Modifier">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
{% endif %}
    
{% endblock %}