{% extends '::base.html.twig' %}

{% block body %}
<div id="menu-gestion" style="margin: auto">
    <ul class="ca-menu">
        <li>
            <a href="{{ path('index') }}">
                <div class="ca-content">
                    <h3 class="ca-sub">Accueil</h3>
                </div>
            </a>
        </li>
    </ul>
</div><br/>

    <h1>Classement général</h1>
    <table>
    {% for user in classement %}
        <tr>
            <td>{{ user.rang }}</td>
            <td><img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" /></td>
            <td><p>{{ user.firstname }} {{ user.lastname }}</p></td> 
            <td><p>{{ user.points }} pts </p></td>
        </tr>
    {% endfor %}
    </table>
    
    <h1>Classement amis</h1>
    <table>
    {% for user in classementAvecAmis %}
        <tr>
            <td><img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" /></td>
            <td><p>{{ user.firstname }} {{ user.lastname }}</p></td> 
            <td><p>{{ user.points }} pts </p></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
