{% extends '::base.html.twig' %}

{% block body %}
<div id="menu-gestion" style="margin: auto">
    <ul class="ca-menu">
        <li>
            <a href="{{ path('index') }}">
                <div class="ca-content">
                    <h3 class="ca-sub">Accueil</h3>
                </div>
            </a>
        </li>
    </ul>
</div><br/>

    <h1>Classement général</h1>
    <table>
    {% for user in classement %}
        <tr>
            <td>{{ user.rang }}</td>
            <td><img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" /></td>
            <td><p>{{ user.firstname }} {{ user.lastname }}</p></td> 
            <td><p>{{ user.points }} pts </p></td>
        </tr>
    {% endfor %}
    </table>
    
    <h1>Top 10</h1>
    <table>
    {% for user in classement10 %}
        <tr>
            <td>{{ user.rang }}</td>
            <td><img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" /></td>
            <td><p>{{ user.firstname }} {{ user.lastname }}</p></td> 
            <td><p>{{ user.points }} pts </p></td>
        </tr>
    {% endfor %}
    </table>
    
    <h1>Classement amis</h1>
    <div style="position: relative">
    <img src="http://static.freepik.com/photos-libre/orange-fleche-vers-le-haut_17-526113532.jpg" style="width: 50px; position: absolute; top: -10px;" onclick="$('#table_pagination').scrollTop($('#table_pagination').scrollTop()-300);"/>
    <div id="table_pagination" style="height:300px; overflow: hidden;">
    <table>
    {% for user in classementAvecAmis %}
        <tr>
            <td>{{ user.rang }}</td>
            <td><img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" /></td>
            <td><p>{{ user.firstname }} {{ user.lastname }}</p></td> 
            <td><p>{{ user.points }} pts </p></td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <img src="http://images.all-free-download.com/images/graphiclarge/arrow_orange_down_clip_art_9070.jpg" style="width: 50px; position: absolute; bottom: -10px;" onclick="$('#table_pagination').scrollTop($('#table_pagination').scrollTop+300);"/>
    </div>
{% endblock %}
