{% extends '::base.html.twig' %}

{% block body %}
    <h1>D&eacute;tails du quizz {{ quizz.title }}</h1><a href="{{ path("index") }}">Accueil</a>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ quizz.title }}</td>
            </tr>
            <tr>
                <th>Image du quizz</th>
                <td><img src="/uploads/images/mini/quizz/mini_{{ quizz.picture }}" /></td>
            </tr>
            <tr>
                <th>Description du quizz</th>
                <td>{{ quizz.longDesc }}</td>
            </tr>
            <tr>
            	<td>nombre de questions dans ce quizz</td>
            	<td>{{ countQuestion }}</td>
            </tr>
            
       </tbody>
    </table>
	<div class="fb-like" data-href="http://apps.facebook.com/quizz_en_folie/detailquizz/{{ quizz.id }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
    <br/>{% if quizzresult != null  %}
		<b>D&eacute;tails utilisateur</b>
		<table>
			<tr>
				<th>Taux de R&eacute;ussite: </th>
				<td>{{ taux }} %</td>
			</tr>
			<tr>
				<th>Points joueur / points total: </th>
				<td>{{ quizzresult.winpoints }} / {{ quizz.winpoints }} </td>
			</tr>
			<tr>
				<th>Temps du joueur / Temps total du quizz: </th>
				<td>{{ quizzresult.average }} sec / {{ quizz.averageTime }} sec</td>
			</tr>
			<tr>
				
				<td colspan  = 2> <a class="button-bevel orange"><input type="button" value="Partagez !" onclick="publier('Quizz en Folie', 'http://apps.facebook.com/quizz_en_folie/detailquizz/{{ quizz.id }}', 'http://ptutfb1.hebergearea.com/uploads/images/quizz.jpg','Les meilleurs Quizz','J\'ai répondu au Quizz : {{ quizz.title }} Mon score : {{ quizzresult.winpoints }} pts ')" /></a></td>
			</tr>
		</table>
		{% if taux < 25 %}

					<center>{{ quizz.txtWin1 }}</center>
		{% elseif taux >= 25 and taux <50 %}

					<center>{{ quizz.txtWin2 }}</center>
		{% elseif taux >= 50 and taux <75 %}

					<center>{{ quizz.txtWin3 }}</center>
		{% elseif taux >= 75 %}
					<center>{{ quizz.txtWin4 }}</center>
		{% endif %}
	{% else %}
		<center>
         <a class="button-bevel orange" href="{{ path('start_quizz', {'id' : quizz.id}) }}">
            <input type="button" value="JOUER"/>
         </a>
         </center>
	{% endif %}
    {% if countclassementamis > 0 %}
    	<h4>Classement entre amis</h4>
	    <table>
	        <tr>
	        	
	            {% for user in classementAvecAmis %}
	                <td>
	                	<p>{{ counter }}</p>
	                    <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
	                    <p>{{ user.points }} pts </p>
	                </td>
	                {% set counter = counter +1 %}
	            {% endfor %}
	        </tr>
	    </table>

		
	{% endif %}
	<center> <a class="button-bevel orange"><input type="button"  value="Défier ses amis" onclick="var sharer = 'https://www.facebook.com/sharer/sharer.php?u='; window.open(sharer + 'http://apps.facebook.com/quizz_en_folie/detailquizz/{{ quizz.id }}', 'sharer', 'width=626,height=400');" /></a></center>
	{% if countclassement > 0 %}

    	<h4>Classement G&eacute;n&eacute;ral</h4>
	    <table>
	        <tr>
	        	{% set counter = 1 %}
	            {% for user in classementgeneral %}
	           		
	                <td>
	                	<p>{{ counter }}</p>
	                    <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
	                     <p>{{ user.points }} pts </p>

	                </td>
	                 {% set counter = counter +1 %}
	            {% endfor %} 
	        </tr>
	    </table>
	{% else %}
		Le classement n'est pas encore disponible ...<br/>
	{% endif %}
	
	
{% endblock %}