{% extends '::base.html.twig' %}

{% block body -%}
    <h1>D&eacute;tails d'un quizz</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ quizz.title }}</td>
            </tr>
            <tr>
                <th>Image du quizz</th>
                <td><img src="/uploads/images/mini/quizz/mini_{{ quizz.picture }}" /></td>
            </tr>
            <tr>
                <th>Description du quizz</th>
                <td>{{ quizz.longDesc }}</td>
            </tr>
            <tr>
            	<td>nombre de questions dans ce quizz</td>
            	<td>{{ countQuestion }}</td>
            </tr>
       </tbody>
    </table>

    <div class="fb-like" data-href="http://apps.facebook.com/quizz_en_folie/detailquizz/{{ quizz.id }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

    {% if countclassementamis > 0 %}
    	<h4>Classement entre amis</h4>
	    <table>
	        <tr>
	        	
	            {% for user in classementAvecAmis %}
	                <td>
	                    <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
	                    <p>{{ user.points }} pts </p>
	                </td>
	            {% endfor %}
	        </tr>
	    </table>
	{% else %}
		<input type="button" value="Défier ses amis" onclick="var sharer = 'https://www.facebook.com/sharer/sharer.php?u='; window.open(sharer + 'http://apps.facebook.com/quizz_en_folie/detailquizz/{{ quizz.id }}', 'sharer', 'width=626,height=400');" />
	{% endif %}
{% endblock %}