{% extends '::base.html.twig' %}

{% block boutonjaime %}
  <meta property="og:title" content="Quizz en folie dfsfsfsdf" />
  <meta property="og:type" content="game" />
  <meta property="og:url" content="http://apps.facebook.com/quizzenfolie/" />
  <meta property="og:image" content="http://apps.facebook.com/uploads/images/quizz.jpg" />
  <meta property="og:description" content="Le Quizz de folie a remplir très vite !!!" />
{% endblock %}

{% block body %}
    {% set user = app.session.get('user') %}
    <h2>Bonjour {{ user.firstname }} {{ user.lastname }}</h2>
    <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
    <p>Votre classement : {{ classement }}</p>
    <table>
        <tr>
            {% for user in classementAvecAmis %}
                <td>
                    <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
                    <p>{{ user.points }} pts </p>
                </td>
            {% endfor %}
        </tr>
    </table>
<hr>

    Modifier le lien pour la page a liké :<div class="fb-like" data-href="http://apps.facebook.com/quizzenfolie/2gfsqfsdf" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
    <br />
    Bouton de partage d'un lien(page courante) : <input type="button" value="Partager ce lien" onclick="var sharer = 'https://www.facebook.com/sharer/sharer.php?u='; window.open(sharer + location.href, 'sharer', 'width=626,height=400');" />
    <br />
    Bouton de publication sur son mur : <input type="button" value="Publier sur son mur" onclick="publier();" />
    <br />
    Bouton invitation a rejoindre l'appli : <input type="button" value="Inviter vos amis" onclick="rejoindre();" />

<hr>
    <div>
    <h3>Liste des Thèmes</h3>
    	<ul>
	    {% for theme in themes %}
           {% if theme.quizzes|length != 0 %}
            <li><img src="/uploads/images/mini/theme/mini_{{ theme.picture }}" /> {{ theme.title }} <a href="{{ path('list_quizz',{"id": theme.id}) }}">Voir les quizz</a> / Nombre de quizz: {{ nb_quizz[theme.id] }} </li>
            {% endif %}
	    {% endfor %}
	    </ul>
    </div>
    
    
    {% if listeDernierQuizz %}
        <h2>Les derniers Quizz</h2>
        <table>
            {% for quizz in listeDernierQuizz %}
                <tr>
                <td><img src="/uploads/images/mini/quizz/mini_{{ quizz.picture }}" alt="{{ quizz.title }}"/></td><td>{{ quizz.title }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
        
    {% if dernierQuizzPromo %}
        <h2>Pourquoi ne pas tenter ... </h2>
        <table>
            {% for promo in dernierQuizzPromo %}
            <tr>
                <td><img src="/uploads/images/mini/quizz/mini_{{ promo.picture }}" alt="{{ promo.title }}"/></td>
                <td>{{ promo.title }}</td>
            </tr>
            {% endfor %} 
        </table>
    {% endif %}
    
{% endblock %}



