{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}
    <h2>Bonjour {{ user.firstname }} {{ user.lastname }}</h2>
    <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />

    <p>Votre classement : {{ classement }} ème</p>
<hr>
    <div>
    <h3>List des Thèmes</h3>
    	<ul>
	    {% for theme in themes %}
            <li><img src="/uploads/images/mini/theme/mini_{{ theme.picture }}" /> {{ theme.title }} <a href="{{ path('list_quizz',{"id": theme.id}) }}">Voir les quizz</a> / Nombre de quizz: {{ nb_quizz[theme.id] }} </li>
	    {% endfor %}
	    </ul>
    </div>

    <p>Votre classement : {{ classement }}</p>
    
    
    {% if listeDernierQuizz %}
        <h2>Les derniers Quizz</h2>
        <table>
            {% for quizz in listeDernierQuizz %}
                <tr>
                <td><img src="/uploads/images/mini/quizz/mini_{{ quizz.picture }}" alt="{{ quizz.title }}"/></td><td>{{ quizz.title }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
        
    {% if dernierQuizzPromo %}
        <h2>Pourquoi ne pas tanter ... </h2>
        <table>
            {% for promo in dernierQuizzPromo %}
            <tr>
                <td><img src="/uploads/images/mini/quizz/mini_{{ promo.picture }}" alt="{{ promo.title }}"/></td>
                <td>{{ promo.title }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    
{% endblock %}



