{% extends '::base.html.twig' %}

{% block boutonjaime %}
  <meta property="og:title" content="Quizz en folie dfsfsfsdf" />
  <meta property="og:type" content="game" />
  <meta property="og:url" content="http://apps.facebook.com/quizzenfolie/" />
  <meta property="og:image" content="http://apps.facebook.com/uploads/images/quizz.jpg" />
  <meta property="og:description" content="Le Quizz de folie a remplir très vite !!!" />
{% endblock %}

{% block body %}
    {% set user = app.session.get('user') %}
    <div id="profilUser">
        <h2><img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" /><br/>
        {{ user.firstname }} {{ user.lastname }}</h2>
        <p>Votre score : {{ user.points }} pts</p>
        <p>Votre classement : {{ classement }}</p>
        <hr/>
        <input type="button" value="Inviter vos amis" onclick="rejoindre('Participez aux Quizzs et défiez vos amis');" />
    </div>
    <div id="menu-gestion">
            <ul class="ca-menu">
                <li>
                    <a href="{{ path('classement') }}">
                        <div class="ca-content">
                            <h3 class="ca-sub">Classement</h3>
                        </div>
                    </a>
                </li>
            </ul>
    </div>
  <h2>Classement amis</h2>
    <table>
      <tr>
          {% for user in classementAvecAmis %}
              <td>
                  <p>{{ user.rang }}</p>
                  <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
                  <p>{{ user.points }} pts </p>
              </td>
          {% endfor %}
      </tr>
  </table>
   
    <h2>Liste des Thèmes</h2>
    <table>
        {% for theme in themes %}
            {% if theme.quizzes|length != 0 %}
                <td><img src="/uploads/images/mini/theme/mini_{{ theme.picture }}" /></td>
                <td>{{ theme.title }}</td>
                <td><a href="{{ path('list_quizz',{"id": theme.id}) }}">Voir les quizz</a></td>
            {% endif %}
        {% endfor %}
    </table>
    
    
    {% if listeDernierQuizz %}
        <h2>Les derniers Quizz</h2>
        <table>
            {% for quizz in listeDernierQuizz %}
                {% if quizz.questions|length != 0 %}
                    <tr>
                    <td><img src="/uploads/images/mini/quizz/mini_{{ quizz.picture }}" alt="{{ quizz.title }}"/></td><td><a href="{{ path("detail", {"id":quizz.id}) }}">{{ quizz.title }}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
        
    {% if dernierQuizzPromo %}
        <h2>Pourquoi ne pas tenter ... </h2>
        <table>
            {% for promo in dernierQuizzPromo %}
            <tr>
                <td><img src="/uploads/images/mini/quizz/mini_{{ promo.picture }}" alt="{{ promo.title }}"/></td>
                <td><a href="{{ path("detail", {"id":promo.id}) }}">{{ promo.title }}</a></td>
            </tr>
            {% endfor %} 
        </table>
    {% endif %}
    
{% endblock %}



