{% extends '::base.html.twig' %}

{% block boutonjaime %}
  <meta property="og:title" content="Quizz en folie dfsfsfsdf" />
  <meta property="og:type" content="game" />
  <meta property="og:url" content="http://apps.facebook.com/quizzenfolie/" />
  <meta property="og:image" content="http://apps.facebook.com/uploads/images/quizz.jpg" />
  <meta property="og:description" content="Le Quizz de folie a remplir très vite !!!" />
{% endblock %}

{% block body %}
<img class="logoSmall" src="{{asset('/bundles/metinetgalery/image/logo-pt.png')}}">
<h1>Quizz en folie</h1>
  <div id="menu-gestion" style="margin: 0 0 0 40px">
    <ul class="ca-menu">
        <li>
            <a href="{{ path('index') }}">
                <div class="ca-content">
                    <h3 class="ca-sub">Accueil</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="{{ path('classement') }}">
                <div class="ca-content">
                    <h3 class="ca-sub">Classement</h3>
                </div>
            </a>
        </li>
    </ul>
</div><br/>

    {% set user = app.session.get('user') %}
    <div id="container">
    <table id="userTable">
            <tr class="classtr">
                <td>
                    <div id="profilUser">
                        <img class="userPic" src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
                        <h2 class="userName">{{ user.firstname }} {{ user.lastname }}</h2>
                        <div id="userRank">     
                            <p>Votre score : {{ user.points }} pts</p>
                            <p>Votre classement : {{ classement }} {% if classement != 1 %}ème{% else %}er{% endif %}</p>
                        </div>
                        <div id="btnInvit">
                        <a href="#" class="button-bevel orange"><input type="button" value="Inviter vos amis" onclick="rejoindre('Participez aux Quizzs et défiez vos amis');" /></a>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="friendRank">
                        <h2>Classement amis</h2>
                        <table>
                          <tr>
                              {% for user in classementAvecAmis %}
                                  <td><p class="rankNum">{{ user.rang }} {% if user.rang != 1 %}ème{% else %}er{% endif %}</p>
                                      <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
                                      <p class="userScore">{{ user.points }} pts </p>
                                  </td>
                              {% endfor %}
                          </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <h2>Liste des Thèmes</h2>
    <table>
        {% for theme in themes %}
            {% if theme.quizzes|length != 0 %}
                <td><img src="/uploads/images/mini/theme/mini_{{ theme.picture }}" /></td>
                <td>{{ theme.title }}</td>
                <td><a href="{{ path('list_quizz',{"id": theme.id}) }}">Voir les quizz</a></td>
            {% endif %}
        {% endfor %}
    </table>
    
    
    {% if listeDernierQuizz %}
        <h2>Les derniers Quizz</h2>
        <table>
            {% for quizz in listeDernierQuizz %}
                {% if quizz.questions|length != 0 %}
                    <tr>
                    <td><img src="/uploads/images/mini/quizz/mini_{{ quizz.picture }}" alt="{{ quizz.title }}"/></td><td><a href="{{ path("detail", {"id":quizz.id}) }}">{{ quizz.title }}</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
        
    {% if dernierQuizzPromo %}
        <h2>Pourquoi ne pas tenter ... </h2>
        <table>
            {% for promo in dernierQuizzPromo %}
            <tr>
                <td><img src="/uploads/images/mini/quizz/mini_{{ promo.picture }}" alt="{{ promo.title }}"/></td>
                <td><a href="{{ path("detail", {"id":promo.id}) }}">{{ promo.title }}</a></td>
            </tr>
            {% endfor %} 
        </table>
    {% endif %}
    
{% endblock %}



