{% extends '::base.html.twig' %}

{% block body %}
    {% set user = app.session.get('user') %}
    <h2>Hello {{ user.firstname }} {{ user.lastname }}</h2>
    <img src="{{ user.picture }}" alt="{{ user.firstname }} {{ user.lastname }}" />
    <p>
        <strong>ID SQL</strong>: {{ user.id }}<br />
        <strong>ID Facebook</strong>: {{ user.fb_uid }}<br />
        <strong>Créé en BDD le</strong>: {{ user.created_at|date('d/m/Y H:i') }}
    </p>

{% endblock %}



