{% extends '::base.html.twig' %}

{% block body %}
<h3>List des Quizz </h3>
<h5><img src="/uploads/images/mini/theme/mini_{{ img_theme }}" /> <br />Thème : {{ titre_theme }} <br />Nombre de quizz : {{ nb_quizz }} quizz <br /> Description :{{ desc_theme }} </h5>
	<ul>
	{% for quizzs in quizz %}
		<li><img src="/uploads/images/mini/quizz/mini_{{ quizzs.picture }}" />  {{ quizzs.title }}
			<ol><b>Description :</b> {{ quizzs.longDesc }} </ol>
			<ol><b>Nombre de question :</b> {{ nb_question[quizzs.id] }} </ol>
			<ol><b>Nombre de points :</b> {{ quizzs.winPoints }} </ol>
			<ol>Participant : A faire
			</ol>
			<ol><a href="#">Défier ses amis !</a></ol>
		</li>
		<br />
		<br />
	{% endfor %}
	</ul>

{% endblock %}