{% extends '::base.html.twig' %}

{% block body %}
<img class="logoSmall" src="{{asset('/bundles/metinetgalery/image/logo-pt.png')}}">
<h1>Liste des Quizz </h1>
<div id="menu-gestion" style="margin: auto">
    <ul class="ca-menu">
        <li>
            <a href="{{ path('index') }}">
                <div class="ca-content">
                    <h3 class="ca-sub">Accueil</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="{{ path('classement') }}">
                <div class="ca-content">
                    <h3 class="ca-sub">Classement</h3>
                </div>
            </a>
        </li>
    </ul>
</div><br />   
    <div class="listInfoQuizz">
        <ul>
            <li><img src="/uploads/images/mini/theme/mini_{{ img_theme }}" /></li>
            <li><b>Thème : </b>{{ titre_theme }} </li>
            <li><b>Nombre de question : </b>{{ nb_quizz }} </li> 
            <li><b>Description : </b>{{ desc_theme }} </li>
        </ul>
    </div>
    <table>
    {% for quizzs in quizz %}
            
        {% if quizzs.questions|length != 0 %}
        
        <tr>
            <td>
                <a href="{{ path("detail", {"id":quizzs.id}) }}">
                <img src="/uploads/images/mini/quizz/mini_{{ quizzs.picture }}" />
                </a>
                </td>
            <td>
                
                <p>
                <a href="{{ path("detail", {"id":quizzs.id}) }}"><b>{{ quizzs.title }}</b></a><br/>
                {{ quizzs.shortDesc }}
                </p>
                
            </td>
            <td>               
                <p> Nombre de quizz : {{ nb_question[quizzs.id] }}<br/>
                Nombre de points : {{ quizzs.winPoints }}</p>
            </td>
           
            <td>
             {% if nb_question[quizzs.id] != 0 %}
                <p>Participants :<br/>
                    {% if user[quizzs.id] is defined and user[quizzs.id]|length != 0 %}
                        {% for users in user[quizzs.id] %}
                        <img src="{{ users.picture }}" alt="{{ users.firstname }} {{ users.lastname }}" title="{{ users.firstname }} {{ users.lastname }}"/>
                        {% endfor %}
                    {% endif %}
                </p>
                {% endif %}
            </td>
            
            <td>
                <div class="fb-like" data-href="http://apps.facebook.com/quizz_en_folie/detailquizz/{{ quizzs.id }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            </td>
            <td>
                
                    <a class="button-bevel orange" href="http://www.facebook.com/sharer.php?u=http://apps.facebook.com/quizz_en_folie/detailquizz/{{ quizzs.id }}&t={{ quizzs.shareWallTitle }}{{ quizzs.shareWallDesc }}" target="blank">
                    
                <input type="button" value="Défier ses amis"/>
                </a>
            </td>
        </tr>
        
        {% endif %}
    {% endfor %}
    </table>

{% endblock %}