{% extends '::base.html.twig' %}

{% block body %}

<h3>List des Quizz </h3>
<p><img src="/uploads/images/mini/theme/mini_{{ img_theme }}" /> <br />
Thème : {{ titre_theme }} <br />
Nombre de quizz : {{ nb_quizz }} <br /> 
Description :{{ desc_theme }} 
</p>

    <table>
    {% for quizzs in quizz %}
        
        <tr>
            <td>
                <a href="{{ path("detail", {"id":quizzs.id}) }}">
                <img src="/uploads/images/mini/quizz/mini_{{ quizzs.picture }}" />
                </a>
                </td>
            <td>
                
                <p>
                <a href="{{ path("detail", {"id":quizzs.id}) }}"><b>{{ quizzs.title }}</b></a><br/>
                {{ quizzs.longDesc }}
                </p>
                
            </td>
            <td>               
                <p> Nombre de quizz : {{ nb_question[quizzs.id] }}<br/>
                Nombre de points : {{ quizzs.winPoints }}</p>
            </td>
            {% if nb_question[quizzs.id] != 0 %}
            <td>
                <p>Participants :<br/>
                    {% if user[quizzs.id] is defined and user[quizzs.id]|length != 0 %}
                        {% for users in user[quizzs.id] %}
                        <img src="{{ users.picture }}" alt="{{ users.firstname }} {{ users.lastname }}" title="{{ users.firstname }} {{ users.lastname }}"/>
                        {% endfor %}
                    {% endif %}
                </p>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>

{% endblock %}