{% extends '::base.html.twig' %}


{% block body %}
<script>
    var idQuizz = 0;
    var nbQuestion = 0;
    var questionArray = null;
    var tmpQuestionIndex = 0;
    
    function getQuestion(){
        
       if(tmpQuestionIndex < nbQuestion){
            $('body').append('<div id="div_question">'+questionArray[tmpQuestionIndex]+'</div>');
       }
        else{
            getResult();
        }
        
        tmpQuestionIndex ++;       
    }
    
    function ajaxGetQuestions(id){
        
        idQuizz = id;
        
        $.ajax({
            url: "{{ path('get_questions')}}",
            type: "POST",
            data: {id : 1},
            dataType: "html"
        }).done(function( html ) {
            questionArray = html.split('|');
            nbQuestion = questionArray.length;
            $('#button_start').remove();
            getQuestion();
            
        }); 
 
    }
    
    function ajaxSetAnswer(){
    
       id = $('#id').val();
       answer = $('input:radio[name=answer]:checked').val();
       
        $.ajax({
            url: "{{ path('set_answer')}}",
            type: "POST",
            data: {id : id, answer : answer},
            dataType: "html"
        }).done(function( ) {
            $('#div_question').remove();
            getQuestion();
        }); 
        
    }
    
    function getResult(){
    
        $.ajax({
            url: "{{ path('get_result')}}",
            type: "POST",
            data: {id : idQuizz },
            dataType: "html"
        }).done(function( html ) {
            $('#div_question').remove();
            $('body').append('<div>'+html+'</div>');
        });  
    }
</script>

    <h1>{{ quizz.theme.title }}</h1>
    {% if quizz.picture %}
        <img src="/uploads/images/mini/quizz/mini_{{ quizz.picture }}" alt="{{ quizz.title }}" />
    {% endif %}
    <h2>{{ quizz.title }}</h2>
    
    {% if quizzResult is defined %}
        <p>Vous avez déjà répondu à ce Quizz</p>
        <table>
            <tr><td>Points gagnés</td><td>{{ quizzResult.winPoints}} pts</td></tr>
            <tr><td>Temps de réponse</td><td>{{ quizzResult.average }} s</td></tr>
        </table>


        <br />
        <input type="button" value="Publier son Score" onclick="publier("Quizz en Folie", "http://apps.facebook.com/quizz_en_folie/", "http://ptutfb1.hebergearea.com/uploads/images/quizz.jpg","Les meilleures Quizz",'Quizz: '.{{ quizz.title }}.'<br />Votre Score:'.{{ quizzResult.winPoints}}.'réalisé en'.{{ quizzResult.average }}.'sd');" />
        <br />
        <input type="button" value="Inviter vos amis" onclick="rejoindre("Venez tester les Quizz en Folie mis à votre disposition");" />
        <br />
        <div class="fb-like" data-href="http://apps.facebook.com/quizz_en_folie/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>


    {% else %}
        <input id="button_start" type="button" onclick="ajaxGetQuestions({{ quizz.id }});" value=">> START <<"/>
    {% endif %}
        
{% endblock %}
