{% extends '::base.html.twig' %}


{% block body %}
<script>

    var idQuizz = 0;
    var nbQuestion = 0;
    var questionArray = null;
    var tmpQuestionIndex = 0;
    var seconde = 0;
    var minute = 0;
    var timer;
    
    function getQuestion(){
        
       if(tmpQuestionIndex < nbQuestion){
            $('body').append('<div id="div_question">'+questionArray[tmpQuestionIndex]+'</div>');
       }
        else{
            getResult();
        }
        
        tmpQuestionIndex ++;       
    }
    
    function ajaxGetQuestions(id){
        
        idQuizz = id;
        
        $.ajax({
            url: "{{ path('get_questions')}}",
            type: "POST",
            data: {id : idQuizz},
            dataType: "html"
        }).done(function( html ) {
            timer=setInterval("Horloge()", 1000);
            questionArray = html.split('|');
            nbQuestion = questionArray.length;
            $('#button_start').remove();      
            getQuestion();
            
        }); 
 
    }
    
    function ajaxSetAnswer(){
    
       id = $('#id').val();
       answer = $('input:radio[name=answer]:checked').val();
       
        $.ajax({
            url: "{{ path('set_answer')}}",
            type: "POST",
            data: {id : id, answer : answer},
            dataType: "html"
        }).done(function( ) {
            $('#div_question').remove();
            getQuestion();
        }); 
        
    }
    
    function getResult(){
    
    window.clearInterval(timer);
    //$('#timer').remove();
    
        $.ajax({
            url: "{{ path('get_result')}}",
            type: "POST",
            data: {id : idQuizz },
            dataType: "html"
        }).done(function( html ) {
            $('#div_question').remove();
            $('body').append('<div>'+html+'</div>');
                      
        });  
    }
    
    function Horloge() {
        seconde ++;
        if(seconde == 60){
          minute ++;
          seconde = 0;
        }
       $('#timer').html(minute+' " '+seconde);
    }

</script>
    
    <span style="position: relative; background-color: white; border-radius: 5px; padding: 10px; z-index: 20;"><img src="/bundles/metinetgalery/image/Temporary.png"/><span id="timer">0 " 0</span></span>
    
    <h1>{{ quizz.theme.title }} > {{ quizz.title }}</h1>
    <p>
    {% if quizz.picture %}
        <img src="/uploads/images/mini/quizz/mini_{{ quizz.picture }}" alt="{{ quizz.title }}" />
        <br/>
    {% endif %}
    {{ quizz.longDesc }}</p>
    
    <center><a href="#" class="button-bevel orange"><input id="button_start" type="button" onclick="ajaxGetQuestions({{ quizz.id }});" value=">> START <<"/></a></center>
        
{% endblock %}
