{% extends '::base.html.twig' %}

{% block body -%}
    <img class="logoSmall" src="{{asset('/bundles/metinetgalery/image/logo-pt.png')}}">
    <h1>Création d'un nouveau Quizz</h1>
    <div id="formQuizz">
    <form action="{{ path('quizz_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
    </div>
    <div id="btnNewTheme">
        <ul class="ca-menu">
            <li>
                <a href="{{ path('quizz') }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Retourner à la liste</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}