{% extends '::base.html.twig' %}

{% block body -%}
    <img class="logoSmall" src="{{asset('/bundles/metinetgalery/image/logo-pt.png')}}">
    <h1>Quizz</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="/uploads/images/mini/quizz/mini_{{ entity.picture }}" /></td>
            </tr>
            <tr>
                <th>Description courte</th>
                <td>{{ entity.shortDesc }}</td>
            </tr>
            <tr>
                <th>Description longue</th>
                <td>{{ entity.longDesc }}</td>
            </tr>
            <tr>
                <th>Nombre de point</th>
                <td>{{ entity.winPoints }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ entity.averageTime }}</td>
            </tr>
            <tr>
                <th>Message gagnant 1</th>
                <td>{{ entity.txtWin1 }}</td>
            </tr>
            <tr>
                <th>Message gagnant 2</th>
                <td>{{ entity.txtWin2 }}</td>
            </tr>
            <tr>
                <th>Message gagnant 3</th>
                <td>{{ entity.txtWin3 }}</td>
            </tr>
            <tr>
                <th>Message gagnant 4</th>
                <td>{{ entity.txtWin4 }}</td>
            </tr>
            <tr>
                <th>Titre pour le partage</th>
                <td>{{ entity.shareWallTitle }}</td>
            </tr>
            <tr>
                <th>Description pour le partage</th>
                <td>{{ entity.shareWallDesc }}</td>
            </tr>
            <tr>
                <th>Promotion</th>
                <td>{{ entity.isPromoted }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ entity.state }}</td>
            </tr>
        </tbody>
    </table>
    <div id="btnNewTheme">
        <ul class="ca-menu">
            <li>
                <a href="{{ path('quizz') }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Retourner à la liste</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('quizz_edit', { 'id': entity.id }) }}">
                    <div class="ca-content">
                        <h3 class="ca-sub">Editer</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
<ul class="record_actions">
        <form action="{{ path('quizz_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% if listeQuestion %}
    <h2>Liste des Questions</h2>
    <div id="listQuestion">
    <ul>
    {% for question in listeQuestion %}
        <li>
            {{ question.title }}
            <a href="{{ path('admin_question_edit', { 'id': question.id }) }}">
                <img src="{{asset('/bundles/metinetgalery/image/app.png')}}" title="Modifier">
            </a>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endif %}

{% endblock %}